@model FirstappMvc.Models.ClientMessage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClientMessage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userEmaile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userEmaile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userTheme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userTheme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userMessage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
